<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="io.checkmade.checkmade_mobile"
		  android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="CheckMade" android:icon="@drawable/Icon" />
</manifest>
