.DS_Store

# .NET related
bin/
obj/
/packages/
local.settings.json

# Custom
PlantUML/
puml-diagrams/
LocalSecrets/
logs/
AllUiTextsFromSourceCode.txt
real_setup.sql

# IDE solution settings
**.sln.DotSettings.user
!**.sln.DotSettings

# IDE / User internals
.idea/
riderModule.iml
/_ReSharper.Caches/
